// base styles

body {
    background-color: $white;
    color: $grey;
    font-family: sans-serif;
    font-family: Century Gothic, sans-serif;
    line-height: 1;
}

h2.section_title {
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 4rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem 0 rgba(0,0,0,0.1);
    letter-spacing: 0.15rem;
    .first_letter {
        position: relative;
        z-index: 1;
        color: $white;
        padding-right: 0.5rem;
        margin-right: 0.25rem;
        &:after {
            content: "";
            background-color: $pb;
            width: 8rem;
            height: 3.6rem;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}