// .Contact

.Contact {
    background-color: $dark;
    .content {
        max-width: 1100px;
        margin: 0 auto;
        padding: 2rem;
        overflow: hidden;
    }
    .label {
        color: darken($white,10%);
        font-weight: 900;
        margin-right: 1rem;
    }
    .info {
        color: $white;
    }
    .email, .phone {
        width: 50%;
        float: left;
        text-align: center;
    }
}