// .Reset

// ensure consistent cross-browser box-model
html {
    box-sizing: border-box;
    * {
        box-sizing: inherit;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,h2,h3,h4 {
    padding: 0;
    margin: 0;
}