// VARS

$white     : #F1F2EC;
$grey      : #615F60;
$lt        : #E4ECA3;
$color     : #C9DE1C;
$blue      : #3258AD;
$greenblue : #329CAD;
$deep      : #3C3237;
$pink      : #FFB9C5;
$dark      : #202020;
$purp      : #181a5f;
$pb        : #7f64ea;
$dank      : #BFD630;
$sgrey     : #2e3d42;
$main      : #007AA4;